# Start Up: 
Before Running the cell below, you must ensure that these have been run in Terminal **IN ORDER** : 
- conda update -n base -c defaults conda 

    - cd SageMaker
    
      - cd yelp-dataset-challenge-1-ds
      
         - conda env create -f environment.yml
          
            - source activate ydc1 
                
                - pip install python-decouple
                  
                  - pip install pprintpp
                  
# Spacy Installs: 

   - python -m spacy download en_core_web_lg

        - python -m spacy link en_core_web_lg en

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import spacy
import s3
from pprintpp import pprint as pp
from sklearn.externals import joblib
nlp = spacy.load('en')

# Load in Bucket
bucket = s3.Bucket('yelpchallenge1')
# Look inside the bucket.
bucket.contents

['API/',
 'API/api.py',
 'API/api_exploration.ipynb',
 'Environments/',
 'Environments/environment.yml',
 'Flask_App/',
 'Flask_App/Pipfile',
 'Flask_App/__init__.py',
 'Flask_App/app.py',
 'Flask_App/models.py',
 'Flask_App/yelp.py',
 'Model/',
 'Model/vect_1.sav',
 'datasets/',
 'datasets/df.csv',
 'datasets/dtm.csv',
 'notebooks/',
 'notebooks/data_cleanup.ipynb',
 'notebooks/official_NB.ipynb',
 'notebooks/vectorization_exploration.ipynb',
 'notebooks/yelp_data_initial_exploration.ipynb']

In [ ]:
### DO NOT RUN #### 
### ALREADY INSTALLED ###

# Only have to run this once.
# Installs the .csv 'Locally' on SageMaker Instance

#bucket.get('datasets/df.csv', 'df.csv')

    # Load in Bucket
# bucket = s3.Bucket('yelpchallenge1')
    # Look inside the bucket.
# bucket.contents

# Getting Started

In [2]:
# Read-in df.csv
df = pd.read_csv('df.csv')
# Dropping Column
df = df.drop(columns=['Unnamed: 0'])
# Dropping all Missing / Na Values from Entire Dataframe
df = df.dropna()

/home/ec2-user/anaconda3/envs/ydc1/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,1,2,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Checking Null Values and Shape
print(df.isna().sum())
print(df.shape)

stars          0
text           0
date           0
total_votes    0
tokens         0
dtype: int64
(6685874, 5)

In [10]:
# Read-in dtm.csv
dtm = pd.read_csv('dtm.csv')
dtm = dtm.drop(columns=['Unnamed: 0'])
dtm.head()

,stars,ask,awesome,big,clearly,come,dental,dr,end,highly,...,wrong,wrong make,year,year add,year admit,year ago,year come,year food,zucchini,zucchini appetizer
0,1.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,5.0,0.0,0.048546,0.0,0.0,0.048546,0.000000,0.000000,0.048546,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,5.0,0.0,0.000000,0.0,0.0,0.000000,0.174518,0.087259,0.000000,0.087259,...,0.000000,0.000000,0.057698,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,5.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032801,0.032801,0.021689,0.0,0.032801,0.0,0.0,0.0,0.0,0.0

In [6]:
# import Vectorizer model
vect = joblib.load('vect_1.sav')

# Data Merging

In [44]:
            # ***** New DTM DF HAS BEEN CREATED. DO NOT RUN THIS CELL **** #
    
            # ***** New DTM DF HAS BEEN CREATED. DO NOT RUN THIS CELL **** #

# Taking Stars Column
#stars = df['stars']

# Adding stars column to dtm
#dtm['stars']=df['stars']

# Shifting 'Stars' Column to front of Df,
#cols = list(dtm.columns)
#cols = [cols[-1]] + cols[:-1]
#dtm = dtm[cols]

# Dropping "-PRON-", 'year -PRON-', and ' ' Columns
#dtm = dtm.drop(columns=[' ', '  -PRON-', 'year -PRON-'])

# Saving New dtm.csv
#dtm.to_csv(index=False)
#dtm.to_csv(r'dtm.csv')

# Training Prep:

In [12]:
dtm.head()

,stars,ask,awesome,big,clearly,come,dental,dr,end,highly,...,wrong,wrong make,year,year add,year admit,year ago,year come,year food,zucchini,zucchini appetizer
0,1.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,5.0,0.0,0.048546,0.0,0.0,0.048546,0.000000,0.000000,0.048546,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,5.0,0.0,0.000000,0.0,0.0,0.000000,0.174518,0.087259,0.000000,0.087259,...,0.000000,0.000000,0.057698,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,5.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.032801,0.032801,0.021689,0.0,0.032801,0.0,0.0,0.0,0.0,0.0

In [17]:
df.total_votes.shape
df.total_votes.head()

0    7.0
1    0.0
2    3.0
3    0.0
4    7.0
Name: total_votes, dtype: float64

# Model Theory Test:

In [18]:
# Creating X & y test variables from Original df. 

    # Taking 100,000 Rows of df.text for X_test
        
        # Taking 100,000 Rows of df.total_votes for y_test 
        
            # In Order to Predict the Total Votes based on the Users Review that they put in themselves.

In [20]:
# Creating Training DFs
text_train = df.text[0:100000]
vote_train = df.total_votes[0:100000]

In [21]:
X_train = text_train
y_train = vote_train

In [24]:
print(X_train.shape)
print(y_train.shape)

(100000,)
(100000,)