### Testing New csv Load In Method

In [ ]:
# Must Pip Install python-decouple each time. 
#!pip install python-decouple

In [6]:
# Testing a Progress Bar Install for the Vectorizer. 
#import pyprind
#import psutil
# Importing TimeIt to view execution time
import timeit

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
#import theano
import spacy
import s3
nlp = spacy.load('en')

In [4]:
# Everytime you enter
bucket = s3.Bucket('yelpchallenge1')

In [5]:
# Look inside the bucket.
bucket.contents

['datasets/',
 'datasets/df.csv',
 'notebooks/',
 'notebooks/data_cleanup.ipynb',
 'notebooks/vectorization_exploration.ipynb',
 'notebooks/yelp_data_initial_exploration.ipynb']

In [4]:
# Only have to run this once.
# Installs the .csv 'Locally' on SageMaker Instance

#bucket.get('datasets/df.csv', 'df.csv')

In [7]:
# Read df.csv
# Veiwing Execution Time. 
%timeit 
df = pd.read_csv('df.csv')

/home/ec2-user/anaconda3/envs/ydc1/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,1,2,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# check import
df.head()

,Unnamed: 0,stars,text,date,total_votes,tokens
0,0,1,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36,7.0,"['total', 'horrible', 'service', 'crooks', 'ac..."
1,1,5,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33,0.0,"['adore', 'travis', 'hard', 'rock', 'kelly', '..."
2,2,5,I have to say that this office really has it t...,2016-11-09 20:09:03,3.0,"['office', 'organized', 'friendly', 'phillipp'..."
3,3,5,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38,0.0,"['went', 'lunch', 'steak', 'sandwich', 'delici..."
4,4,1,Today was my second out of three sessions I ha...,2018-01-30 23:07:38,7.0,"['today', 'second', 'sessions', 'paid', 'sessi..."

In [9]:
# check datatypes of columns in dataframe
df.dtypes

Unnamed: 0      object
stars           object
text            object
date            object
total_votes    float64
tokens          object
dtype: object

In [10]:
# drop unwanted columns
df = df.drop(columns=['Unnamed: 0'])

In [11]:
df.head()

,stars,text,date,total_votes,tokens
0,1,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36,7.0,"['total', 'horrible', 'service', 'crooks', 'ac..."
1,5,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33,0.0,"['adore', 'travis', 'hard', 'rock', 'kelly', '..."
2,5,I have to say that this office really has it t...,2016-11-09 20:09:03,3.0,"['office', 'organized', 'friendly', 'phillipp'..."
3,5,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38,0.0,"['went', 'lunch', 'steak', 'sandwich', 'delici..."
4,1,Today was my second out of three sessions I ha...,2018-01-30 23:07:38,7.0,"['today', 'second', 'sessions', 'paid', 'sessi..."

In [12]:
df.dtypes

stars           object
text            object
date            object
total_votes    float64
tokens          object
dtype: object

In [13]:
df.shape

(6876898, 5)

In [14]:
# create mini-dataframe for testing
# want to make sure works locally on small dataset before scaling to entire dataset/AWS
#mini_df = df.head(10)

In [15]:
# exploring TFIDF Vectorizer

In [16]:
# new tokenizer
# def tokenize(document):
    # doc = nlp(document)
    # return [token.lemma_ for token in doc if (token.is_stop != True) and (token.is_punct != True)]

In [17]:
# create variable to feed into TFIDF Vectorizer fit_transform
# to be updated to 'text' column of main dataframe (df['text']) for vectorization in AWS
data = df['text']

In [18]:
data.head()

0    Total bill for this horrible service? Over $8G...
1    I *adore* Travis at the Hard Rock's new Kelly ...
2    I have to say that this office really has it t...
3    Went in for a lunch. Steak sandwich was delici...
4    Today was my second out of three sessions I ha...
Name: text, dtype: object

In [19]:
data.shape

(6876898,)

In [20]:
#Checking for missing values/ Before Drop.nas
data.isna().sum()

131090

In [21]:
data.isna().any()

True

In [22]:
# Dropping na from Data
data = data.dropna()

In [23]:
#BEGONE NON-EXISTENT DATA
data.isna().sum()

0

In [26]:
data[2]

"I have to say that this office really has it together, they are so organized and friendly!  Dr. J. Phillipp is a great dentist, very friendly and professional.  The dental assistants that helped in my procedure were amazing, Jewel and Bailey helped me to feel comfortable!  I don't have dental insurance, but they have this insurance through their office you can purchase for $80 something a year and this gave me 25% off all of my dental work, plus they helped me get signed up for care credit which I knew nothing about before this visit!  I highly recommend this office for the nice synergy the whole office has!"

In [43]:
# vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(tokenizer=tokenize, min_df=0.025, max_df=.95, ngram_range=(1,2))

# Create a vocabulary and get word counts per document
# Learn vocab and transform data into form we want

    # Started at 7:09 PM / 11-24-19
    # data_1 has 3,372,904 rows

# sparse = tfidf.fit_transform(data_1)

# Print word counts
    # print('Vocabulary: ')
    #print(vect.vocabulary_)
    
# Get feature names to use as dataframe column headers

# dtm = pd.DataFrame(sparse.todense(), columns=tfidf.get_feature_names())

# View Feature Matrix as DataFrame

#dtm.head(50)

# Testing By Breaking Up Data

In [26]:
# Attempting to Break Up Data
    # Breaking up data column into TWO Columns. 
        # data_1 & data_2 
        # data_1 will have 3,372,904 rows. 
        # data_2 will have 3,372,905 rows. 
#
#print(data.shape)
#data_1 = data[0:1686452]
#data_2 = data[1686452]
#print(data_1)

(6745808,)

In [ ]:
# Testing by calling fit and transform separately on data_1
# Using %%timeit to see execution time. 
#%timeit
# Started at 6:49 PM / 11-25-19
#fitted_V = tfidf.fit(data_1)

# Testing Something New

In [32]:
# Checking for Missing Values in DataFrame
df.isna().sum()

stars          131088
text           131090
date           190999
total_votes    191022
tokens         191022
dtype: int64

In [33]:
df.isnull().sum()

stars          131088
text           131090
date           190999
total_votes    191022
tokens         191022
dtype: int64

In [40]:
# Dropping Missing Values 
df = df.dropna()

In [41]:
# Checking to see if it worked.
df.isna().sum()

stars          0
text           0
date           0
total_votes    0
tokens         0
dtype: int64

In [42]:
# Checking Shape
df.shape

(6685874, 5)

In [44]:
# Since we already have the tokens in the DF,
# we can possibly fit it directly and bypass stop word/punct filtering. 

### WORKED / 1:40 PM / 11-28-2019 ###

# vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(tokenizer=tokenize, min_df=0.025, max_df=.95, ngram_range=(1,2))


vect = tfidf.fit(df.tokens[0:10000])
# Started at 1:25 PM / 11-28-2019

In [58]:
# Importing PrettyPrint to view 
from pprintpp import pprint as pp

# Checking to see if it worked....
# Print word counts

pp('Vocabulary: ')
pp(vect.vocabulary_)

'Vocabulary: '
{
    'able': 0,
    'absolutely': 1,
    'actually': 2,
    'amazing': 3,
    'appetizer': 4,
    'area': 5,
    'arrive': 6,
    'ask': 7,
    'atmosphere': 8,
    'attentive': 9,
    'away': 10,
    'awesome': 11,
    'bad': 12,
    'beef': 13,
    'beer': 14,
    'better': 15,
    'bread': 16,
    'breakfast': 17,
    'bring': 18,
    'burger': 19,
    'business': 20,
    'busy': 21,
    'call': 22,
    'care': 23,
    'change': 24,
    'charge': 25,
    'cheap': 26,
    'check': 27,
    'cheese': 28,
    'chicken': 29,
    'choice': 30,
    'choose': 31,
    'clean': 32,
    'close': 33,
    'coffee': 34,
    'cold': 35,
    'come': 36,
    'company': 37,
    'cook': 38,
    'cool': 39,
    'couldn': 40,
    'couple': 41,
    'course': 42,
    'cream': 43,
    'customer': 44,
    'customer service': 45,
    'day': 46,
    'deal': 47,
    'decent': 48,
    'decide': 49,
    'decor': 50,
    'definitely': 51,
    'delicious': 52,
    'dessert': 53,
    'different': 54,
    'dinner': 55,
    'disappoint': 56,
    'dish': 57,
    'door': 58,
    'drink': 59,
    'drive': 60,
    'easy': 61,
    'eat': 62,
    'employee': 63,
    'end': 64,
    'enjoy': 65,
    'especially': 66,
    'excellent': 67,
    'expect': 68,
    'expensive': 69,
    'experience': 70,
    'extra': 71,
    'extremely': 72,
    'family': 73,
    'fantastic': 74,
    'fast': 75,
    'favorite': 76,
    'feel': 77,
    'feel like': 78,
    'finally': 79,
    'fine': 80,
    'finish': 81,
    'fish': 82,
    'flavor': 83,
    'food': 84,
    'food good': 85,
    'free': 86,
    'fresh': 87,
    'friend': 88,
    'friendly': 89,
    'fry': 90,
    'get': 91,
    'girl': 92,
    'give': 93,
    'go': 94,
    'good': 95,
    'great': 96,
    'green': 97,
    'group': 98,
    'guy': 99,
    'half': 100,
    'hand': 101,
    'happen': 102,
    'happy': 103,
    'hard': 104,
    'have': 105,
    'hear': 106,
    'help': 107,
    'helpful': 108,
    'high': 109,
    'highly': 110,
    'highly recommend': 111,
    'home': 112,
    'hotel': 113,
    'hour': 114,
    'house': 115,
    'huge': 116,
    'husband': 117,
    'include': 118,
    'inside': 119,
    'instead': 120,
    'issue': 121,
    'item': 122,
    'keep': 123,
    'kid': 124,
    'kind': 125,
    'know': 126,
    'lady': 127,
    'large': 128,
    'later': 129,
    'leave': 130,
    'light': 131,
    'like': 132,
    'line': 133,
    'little': 134,
    'live': 135,
    'local': 136,
    'location': 137,
    'long': 138,
    'look': 139,
    'love': 140,
    'love place': 141,
    'lunch': 142,
    'make': 143,
    'manager': 144,
    'maybe': 145,
    'meal': 146,
    'mean': 147,
    'meat': 148,
    'menu': 149,
    'minute': 150,
    'miss': 151,
    'money': 152,
    'month': 153,
    'music': 154,
    'need': 155,
    'nice': 156,
    'night': 157,
    'offer': 158,
    'okay': 159,
    'open': 160,
    'option': 161,
    'order': 162,
    'outside': 163,
    'overall': 164,
    'owner': 165,
    'parking': 166,
    'party': 167,
    'pay': 168,
    'people': 169,
    'perfect': 170,
    'person': 171,
    'phone': 172,
    'pick': 173,
    'pizza': 174,
    'place': 175,
    'plate': 176,
    'play': 177,
    'plus': 178,
    'point': 179,
    'pork': 180,
    'portion': 181,
    'potato': 182,
    'pretty': 183,
    'price': 184,
    'probably': 185,
    'problem': 186,
    'professional': 187,
    'quality': 188,
    'quick': 189,
    'quickly': 190,
    'real': 191,
    'reason': 192,
    'reasonable': 193,
    'receive': 194,
    'recommend': 195,
    'regular': 196,
    'restaurant': 197,
    'return': 198,
    'review': 199,
    'rice': 200,
    'right': 201,
    'roll': 202,
    'room': 203,
    'rude': 204,
    'salad': 205,
    'sandwich': 206,
    'sauce': 207,
    'say': 208,
    'seat': 209,
    'second': 210,
    'see': 211,
    'selection': 212,
    'serve': 213,
    'server': 214,
    'service': 215,
    'shop': 216,
    'short': 217,
    'show': 218,
    'shrimp': 219,
    'size': 220,
    'small': 221,
    'soon': 222,
    'soup': 223,
    'special': 224,
    'spend': 225,
    'spicy': 226,
    'spot': 227,
    'staff': 228,
    'stand': 229,
    'star': 230,
    'start': 231,
    'stay': 232,
    'steak': 233,
    'stop': 234,
    'store': 235,
    'strip': 236,
    'stuff': 237,
    'style': 238,
    'super': 239,
    'sure': 240,
    'surprise': 241,
    'sweet': 242,
    'table': 243,
    'taco': 244,
    'take': 245,
    'talk': 246,
    'taste': 247,
    'tasty': 248,
    'tell': 249,
    'thank': 250,
    'thing': 251,
    'think': 252,
    'time': 253,
    'today': 254,
    'town': 255,
    'treat': 256,
    'trip': 257,
    'try': 258,
    'turn': 259,
    'usually': 260,
    'vegas': 261,
    'visit': 262,
    'wait': 263,
    'waiter': 264,
    'waitress': 265,
    'walk': 266,
    'want': 267,
    'wasn': 268,
    'watch': 269,
    'water': 270,
    'week': 271,
    'wife': 272,
    'wine': 273,
    'wish': 274,
    'wonderful': 275,
    'work': 276,
    'worth': 277,
    'wouldn': 278,
    'wrong': 279,
    'year': 280,
    'yelp': 281,
}

In [ ]:
dtm = pd.DataFrame(sparse.todense(), columns=tfidf.get_feature_names())

## Testing a Progress Bar install for Vectorizer

In [ ]:
# Testing a Progress Bar Install for the Vectorizer.
# Works pretty quickly..
# Given that nothing is running.. HA! 
# Also a pointless feature that I spent 20 minutes on. . . 

#import pyprind
#import psutil
#import random
#import time

#n = 100
#bar = pyprind.ProgBar(n, monitor=True)
#for i in range(n):
    #time.sleep(0.05)
#tfidf = TfidfVectorizer(tokenizer=tokenize, min_df=0.025, max_df=.95, ngram_range=(1,2))
    #bar.update()
#print(bar)